<p> <%= data.firstName %></p>
<p> <%= data.lastName %></p>
<p> <%= data.region %></p>
<p> <%= data.employeeCode %></p>
<p> <%= data.phoneNumber %></p>
<p> <%= data.emailAddress %></p>
    
    

    

