<%- include('header/header.ejs') %>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300" rel="stylesheet">
<div class="container">
  <div class="page-header">
   <h1> TODOLIST DETAILS</h1>
  </div>


 <div class="row"> 
 <div class="col-md-3">
  <% if(msg != ""){%>
  <div class="alert alert-success" role="alert">
    <%= msg %>
   
  </div>
  <%}%>
 <form method="POST" action="/add">
  <div class="form-group">
    <label for="text">TaskName</label>
    <input type="text" class="form-control " name="TaskName" id="text">
  </div>
<button type="submit" class="btn button-add">Submit</button>
  <button type="submit" class="btn  btn ">Reset</button>
     </form>
   </div> 
   
 <div class=" col-md-9">
 <div class="  col-md-10 col-md-offset-2">
  <table class="table">
    <thead>
      <tr>
        
        <th>TaskName</th>
        <th>Status</th>
       
      </tr>
    </thead>
    <tbody>
      <% for(var i=0;i<Numbers.length; i++){ %>
      <tr>
        <td><%= Numbers[i].TaskName %></td>
        <% if(Numbers[i].Status == "pending"){%>
        <td class="colorred"><%= Numbers[i].Status %></td>
        <%}%>
        <% if(Numbers[i].Status != "pending"){%>
          <td class="green"><%= Numbers[i].Status %></td>
        <%}%>
        <td>
          <a href="/update/<%= i%>" class="btn btn-success">Edit</a>
          <a href="/delete/<%= i%>" class="btn btn-danger">Delete</a>
        </td>
         
      </tr>
      <% } %>
     
    </tbody>
  </table>
   </div>
</div>
  </div>

</div>
<%- include('footer/footer.ejs') %>
